.wcclogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    margin-bottom: 1vw;
    width: 15vw;
}

.title {
    font-family: oswald, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5vw;
}

.days, .hours, .minutes, .seconds, .colon {
    font-family: oswald-bold, Arial, Helvetica, sans-serif;
    font-size: 10vw;
    color: white;
    float: left;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vw;
    margin-bottom: 5vw;
}

.colon {
    margin-left: 0;
    margin-right: 0;
}

.showCounter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    overflow: hidden;
    width: fit-content;
}

.link {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: lightslategray;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline; 
}

.link-body {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.link-disabled {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: lightslategray;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}

.label {
    font-size: 1.6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    justify-content: center;
    width:fit-content
}

.wcwip {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
    width: 25vw;
}

.footer {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: darkgrey;
    text-decoration: none;
    width: 100%;
    text-align: center;

    margin-top: 3%;
    margin-bottom: 3%;
    position: relative
}

.leftTitle {
    font-family: oswald, Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.06em;
    font-size: 3em;
}   

.mainSide {
    margin-left: 7vw;
}

.sidebar {
    height: 100%;
    width: 5vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('./images/sidebar.png');
    background-size: contain;   
    overflow-x: hidden;
}

.info {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: gray;
    max-width: 50%;
}

.bigLink {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-decoration: none;
    color: white;
}

.bigLink:hover {
    text-decoration: underline;
}

.navbar {
    margin-left: 5vw;
    background-color: #141618;
    height: 7vh;
}

.navlink {
    color: lightslategray;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1.5vh;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 3vh;
    display: inline-block;
}

.navlink-disabled {
    color: lightslategray;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1.5vh;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 3vh;
    display: inline-block;
    pointer-events: none;
    opacity: 0.5;
}

.navlink:hover {
    text-decoration: underline;
}

.spice {
    color: rgb(161, 161, 161);
}