.wcclogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    margin-bottom: 1vw;
    width: 15vw;
}

.Home {
    padding: 0
}

.title {
    font-family: oswald, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5vw;
}

.days, .hours, .minutes, .seconds, .colon {
    font-family: oswald-bold, Arial, Helvetica, sans-serif;
    font-size: 10vw;
    color: white;
    float: left;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vw;
    margin-bottom: 5vw;
}

.colon {
    margin-left: 0;
    margin-right: 0;
}

.rotate {
    animation: rotation 8s infinite linear;
    height: 30vw;
    position: absolute;
    overflow:auto;
    top: 12vh;
    left: 7vw;
    margin-left: 55vw;
}

@media (max-width: 500px) {
    .rotate {
        opacity: 0;
    }
}
  
@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

.showCounter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    overflow: hidden;
    width: fit-content;
}

.link {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: lightslategray;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline; 
}

.link-body {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.link-disabled {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: lightslategray;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}

.label {
    font-size: 1.6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    justify-content: center;
    width:fit-content
}

.wcwip {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
    width: 25vw;
}

.footer {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: darkgrey;
    text-decoration: none;
    width: 100%;
    text-align: center;

    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}

.leftTitle {
    font-family: oswald, Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.06em;
    font-size: 3em;
}   

.mainSide {
    margin-left: 7vw;
}

.sidebar {
    height: 100%;
    width: 5vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('./images/sidebar.png');
    background-size: contain;   
    overflow-x: hidden;
}

.link2 {
    text-decoration: none;
    color:#ffc800;
}

.info {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: gray;
    max-width: 50%;
}

@media (max-width:500px) {
        .info {
            max-width: 90%;
        }
}

.bigLink {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-decoration: none;
    color: white;
}

.bigLink:hover {
    text-decoration: underline;
}

.navbar {
    margin-left: 5vw;
    background-color: #141618;
    height: 7vh;
}

.navlink {
    color: lightslategray;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1.5vh;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 3vh;
    display: inline-block;
}

@media (max-width:510px) {
    .navlink {
        font-size: 3vw;
    }

    .navbar {
        height: 9vw;
    }
}

.navlink-disabled {
    color: lightslategray;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1.5vh;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 3vh;
    display: inline-block;
    pointer-events: none;
    opacity: 0.5;
}

@media (max-width:500px) {
    .navlink-disabled {
        font-size: 3vw;
    }
}

.navlink:hover {
    text-decoration: underline;
}

.date {
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    font-size: 2.6vh;
    font-family: oswald, Arial, Helvetica, sans-serif;
    color:  gray;
}

@media (max-width: 500px) {
    .date {
        font-size: 2.5vw;
    }
}

.spice {
    color: rgb(203, 203, 203);
}

.sub1 {
    font-family: oswald, Arial, Helvetica, sans-serif;
    color:  rgb(255, 255, 255);
    font-size: 2em;
    margin-bottom: 0em;
}

.sub2 {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: rgb(180, 180, 180);
    max-width: 50%;
    padding-top: 0.3em;
}

@media (max-width: 500px) {
    .sub2 {
        max-width: 90%;
    }
}

.open {
    font-family: oswald, Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.06em;
    font-size: 2.5em;
    margin-bottom: 0;
}

.schedule {
    height: 40em;
    padding-left: 0em;
}

@media (max-width: 500px) {
    .schedule {
        height: 110vw
    }
}

.scheduleOpener {
    height: 10em;
    transition: height .6s ease;
    overflow-x: absolute;
    overflow-y: hidden;
    margin-left: auto;
}

.days_label {
    display: flex;
    margin: auto;
    font-family: oswald-bold, Arial, Helvetica, sans-serif;
    font-size: 8vw;
    color: #292929;
    float: left;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

@media (max-width: 500px) {
    .days_label {
        font-size: 10vw
    }
}

.emptyBox {
    margin-top: 70px;
    margin-bottom: 50px;
    background-image: url('./images/tape_repeated.png');
    background-size: contain;
}

.showCounter_label {
    display: flex;
    margin-bottom: 0.5em;
    overflow: hidden;
    padding-left: 0;
    /* background-image: url('./images/tape_repeated.png');
    background-size: contain; */
}
  
#scroll-text {
    white-space: nowrap;

    -moz-animation: my-animation 1900s linear infinite;
    -webkit-animation: my-animation 1900s linear infinite;
    animation: my-animation 1900s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
        /* -moz-transform: translateX(0.1%);
        -webkit-transform: translateX(0.1%);
        transform: translateX(0.1%); */
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
